<style>
  .containerr {
    background-color: rgb(127, 154, 156);
    width: 400px;
    height: 400px;
    margin-top: 110px;
    margin-left: 420px;
    padding-top: 20px;
  }

  .one {
    width: 95px;
  }

  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  h3 {
    text-align: center;
    color: red
  }

  div {
    text-align: center;
  }

  li {
    list-style: none;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(207, 160, 90);
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 100px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;

  }
  h1 {
text-align: center;
}

th {
background-color: rgb(137, 192, 192);
}

td {
background-color: rgb(240, 219, 231);
align-items: center;
text-align: center;

}
</style>
{% block body %}
<body>
  <form action="/inventory" method="post">
    <label for="Animal"><b>Animal</label></b></label>
    <select name="Animal" required id="Animal">
      <option value="none" selected disabled hidden>Select Animal</option>
      <option value="Dog">Dog</option>
      <option value="Cat">Cat</option>
      <option value="Bird">Bird</option>
      <option value="Turtle">Turtle</option>
    </select>
    <button class="submit" type="submit">Submit</button>
  </form>
  <!-- <div class="container"></div> -->
  <table border="1px" class="center">
    <tr>
      <th> Animal </th>
      <th> Breed </th>
      <th> Product Name </th>
      <th> Product Id </th>
      <th> Product Type </th>
      <th> Price</th>
      <th> Expires In </th>
      <th> Expiry Status </th>
      <th> Stock Count </th>
      <th> Stock Status </th>
      <th> Selling Count</th>
      <th>Discount</th>
      <th>Action</th>

    </tr>
    <br>
    {% for re in det %}
    <form action="/update/{{re['_id']}}" method="post">
      <tr>
        <td>{{re['Animal']}}</td>
        <!-- <td>{{re['Breed']}}</td> -->
        <td>
          {% set animal=re['Animal'] %}

          {% if animal == "Dog" %}
          
          <select class="one" name="breed" value="{{re['Breed']}}" required id="dbreed">{{re['Breed']}}
            <option value="{{re['Breed']}}">{{re['Breed']}}</option>
            <option value="beagle">Beagle</option>
            <option value="gretriver">Golden Retriver</option>
            <option value="stzu">Shih Tzu</option>
            <option value="gsheperd">German Shepard</option>
            <option value="pug">Pug</option>
            <option value="bdog">Bull dog</option>
            <option value="chippiparai">Chipp parai</option>
            <option value="rajapalayam">Rajapalayam</option>
            <option value="kanni">Kanni</option>
            <option value="doberman">Doberman</option>
          </select>

          {% elif animal== "Cat" %}

          {{re['Breed']}}


          {% elif animal== "Bird" %}
          <label for="Breed"><b>Breed</label></b></label>
          <select class="one" value="{{re['Product_Id']}}" name="bbreed" required id="bbreed">
            <option value="parrots">Parrots</option>
            <option value="cockateil">cockateil</option>
            <option value="budgies">Budgies</option>
            <option value="all">All</option>

            {% elif animal== "Turtle" %}

            {{re['Breed']}}

            {% endif %}
          </select>
        </td>
        <td>
          <input type="text" class="one" value="{{re['Product_Name']}}" name="pname"><br>

        </td>
        <td><input type="text" class="one" value="{{re['Product_Id']}}" name="pid">
        </td>
        <td><select name="ptype" required id="ptype" value="{{re['Product_Type']}}">
            <option value="{{re['Product_Type']}}">{{re['Product_Type']}}</option>
            <option value="Toy">Toy</option>
            <option value="Food">Food</option>
            <option value="Health_Care">Health_Care</option>
          </select><br></td>
        <td> <input type="text" class="one" value="{{re['Price']}}" name="price"></td>
        <td><input type="text" class="one" value="{{re['Expires_in']}}" name="edate"></td>
        <td>
          {% set Expiry=re['Expires_in'] | int() %}
          {% if Expiry == 100 %}
          <p> Upto date </p>
          {% elif Expiry <= 15 %} <p> Expires in 15 days </p>
            {% elif Expiry <= 0 %} <p> Product Expired</p>
              {% endif %}
        </td>
        <td><input type="text" class="one" value="{{re['Stock_Count']}}" name="stock"></td>
        <td>
          {% set Stock=re['Stock_Count'] | int() %}
          {% if Stock>20 %}
          <p> In-Stock </p>
          {% elif Stock < 10 %} <p> Stock Lesser than 10 </p>
            {% elif Expiry < 3 %} <p> Please Refill Stocks</p>
              {% elif Expiry <= 0 %} <p> Out of Stock</p>
                {% endif %}

        </td>
        <td>{{re['Selling_Count']}}</td>
        <td><input type="text" class="one" value="{{re['Discount']}}" name="disc"></td>




        {% set rid = re['_id'] %}
        <td><button class="up" type="submit">Update</button>
    </form>
    <button class="del" type="button"><a href="{{ url_for('dele',id=rid)}}">Delete</a></button></td>
    </td>
    </td>
    {% endfor %}
    </tr>

    <br>
    {% endblock %}

    </div>
  </table>
  <h3>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
    {% endwith %}
  </h3>


</body>

</html>