<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
  body {
    margin: 0;
  }

  nav {
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 10px rgb(77, 73, 73);
    display: flex;
    position: sticky;
    top: 0;
  }

  .left {
    display: flex;
    padding-left: 30px;

  }

  p {
    margin-left: 1.5rem;
    cursor: pointer;
  }

  .btn {
    padding: 0.2rem;
  }

  a {
    text-decoration: none;
    color: #1c8adb;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  img {
    width: 7%;
  }
  .nav{
    padding: 0.4em;
  }
  #logout{
    margin-left: 30em;
  }
  .right{
    float: right;
  }
</style>

<body>
  <nav class="nav" >
    <div class="left">
      <img src="static/images/corestack_logo.webp" width="10%" alt="img">
      <p> <a href="/">NIP-PET</a> </p>
      <p> <a href="#">About</a> </p>
      <p> <a href="#">Contact Us</a> </p>
    </div>
    <div class="center"></div>
    <div class="right">
      <!-- <p><a href="/login">Login</a></p> -->
      <a href="/logout" class="btn" style="margin-right:30px;" id="logout">Log Out</a>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </svg>
      
    </div>
  </nav>
</body>

</html>