<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  body {
    margin: 0;
  }

  nav {
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 10px rgb(77, 73, 73);
    display: flex;
    position: sticky;
    top: 0;
  }

  .left {
    display: flex;
    padding-left: 30px;

  }

  p {
    margin-left: 1.5rem;
    cursor: pointer;
  }

  .btn {
    padding: 0.2rem;
  }

  a {
    text-decoration: none;
    color: #1c8adb;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  img {
    width: 7%;
  }

  .nav {
    padding: 0.4em;
    z-index: 2;
  }

  #logout {
    margin-left: 30em;
  }

  .right {
    float: right;
  }

  .navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
  }

  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: #1c8adb;
    /* padding: 10px 16px; */
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: 14rem;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .show {
    display: block;
  }
  .dropbtn{
    background-color: #fff;
    margin-left: 10px;
    margin-top: -16px;
  }
  .dropbtn:focus{
    border:1px dashed white;
    outline: none;
  }
  .cart{
    border-radius: 10px;
    padding: 6px;
  }
  .cart-link{
    text-decoration: none;
  }
  .nav{
    z-index: 2;
  }
</style>

<body>
  <nav class="nav">
    <div class="left">
      <img src="static/images/corestack_logo.webp" width="10%" alt="img">
      <p> <a href="/">NIP-PET</a> </p>
      <p> <a href="#">About</a> </p>
      <button class="dropbtn" onclick="myFunction()">Dropdown
        <i class="fa fa-caret-down"></i>
      </button>
      <p> <a href="/contact">Contact Us</a> </p>
    </div>
    <div class="center"></div>
    <div class="right">
      <!-- <p><a href="/login">Login</a></p> -->
      <a href="/logout" class="btn" style="margin-right:30px;" id="logout">Log Out</a>

      <button class="cart" type="button"><a class ="cart-link" href="{{ url_for('cart1')}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart"
        viewBox="0 0 16 16">
        <path
          d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
      </svg></a> </button>

    </div>
  </nav>
  <div class="dropdown-content" id="myDropdown">
    <a class="link" href="/dprod">Dog</a>
    <a class="link" href="/cprod">Cat</a>
    <a class="link" href="/tprod">Turtle</a>
    <a class="link" href="/bprod">Parrot</a>
  </div>
  <script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (e) {
      if (!e.target.matches('.dropbtn')) {
        var myDropdown = document.getElementById("myDropdown");
        if (myDropdown.classList.contains('show')) {
          myDropdown.classList.remove('show');
        }
      }
    }
  </script>
</body>

</html>